<div class="container-fluid">
    <div class="row justify content center">
        <div class="col-md-7">
            <h1>Manage Users here!</h1>
            <%= link_to '<button class="btn btn-info" type="button">Recently Registered Users</button>'.html_safe, controller: :examscheduler, action: :recently_registered_users %>
        </div>
    </div>
</div>