<div class="container-fluid">
	<h1><u>List of Assignments</u></h1>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-12">
		<div class="card" style="border-radius: 20px;border-left: 6px solid #005253;">
			  	<div class="card-header">
			    	<h4 class="card-title">Problem Set 1(ps1)</h4>
			    	<span class="badge p-2" style="background-color: #43A143;">Submitted</span>
			  	</div>
			  	<div class="card-body">
				    <h5 class="card-title">Basics</h5>
				    <p class="card-text">In this problem set you will get your production environment up and running and deploy your first application.</p>
				    <%= link_to 'Problem Set 1' , ps1_ps1_path, class: 'btn btn-outline-info float-right'%>
			  	</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-12">
		<div class="card" style="border-radius: 20px;border-left: 6px solid #005253;">
			  	<div class="card-header">
			    	<h4 class="card-title">Problem Set 2(ps2)</h4>
			    	<span class="badge p-2" style="background-color: #43A143;">Submitted</span>
			  	</div>
			  	<div class="card-body">
				    <h5 class="card-title">Basics, Part II</h5>
				    <p class="card-text">In this problem set you will increase your experience in your Web application development environment and master the SQL techniques underlying Web development.</p>
			    	<%= link_to 'Problem Set 2' , ps2_index_path, class: 'btn btn-outline-info float-right'%>
			  	</div>
			</div>
		</div>
    </div>
</div>