<style>
.bookmark-solid.icon {
  color: #000;
  position: absolute;
  margin-left: 5px;
  margin-top: 3px;
  width: 10px;
  height: 15px;
  border-radius: 1px 1px 0 0;
  border-top: solid 1px currentColor;
  border-left: solid 1px currentColor;
  border-right: solid 1px currentColor;
  background-color: currentColor;
}

.bookmark-solid.icon:before {
  content: '';
  position: absolute; 
  top: 10px;
  left: 1px;
  width: 7px;
  height: 7px;
  border-top: solid 1px currentColor;
  border-left: solid 1px currentColor;
  background-color: rgb(17, 128, 128);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
</style>
<div class="jumbotron jumbotron-fluid" style="background-color: rgb(17, 128, 128);margin:50px auto;">
	<h1 class="font-weight-light text-white"><u>WAE</u></h1>
	  <div class="row">
      <div class="bookmark-solid icon"> </div>
        <div class="col-lg-12 col-md-12 col-12">
          <p class="text-justify font-weight-light text-white">The goal of the course is to create competent developers of social Web applications 
          who can move a system from an initial concept through requirements specification, design, 
          implementation, and testing.Students successfully completing Web Application Engineering 
          will be competent Web application developers capable of designing, deploying, and maintaining 
          large-scale services like Facebook and amazon.com.</p><hr>
          <p class="text-justify"> In the Navbar above you will find the options of Assignments, Project and Team of our WAE<br>
          Please click those link for a closer look at our Assignments and Projects.<br>
          You can also Sign up to our website and check our Final Exam Scheduler Project and read its details in the Projects section.</p>
        </div>
      </div>
    </div>
</div>