<div class="container-fluid">
	<h1><u>List of Project Assignments</u></h1>
    <div class="row">
		<div class="col-lg-6 col-md-6 col-12">
			<div class="card" style="border-radius: 20px;border-left: 6px solid #005253;">
			  	<div class="card-header">
			    	<h4 class="card-title">Problem Set 3(ps3)</h4>
			    	<span class="badge p-2" style="background-color: #43A143;">Submitted</span>
			  	</div>
			  	<div class="card-body">
				    <h5 class="card-title">Planning, Odds and Ends</h5>
				    <p class="card-text text-justify">In this problem set you will develop an informal requirements specification for your course project. You will start generalizing the code base you’ve started building in preparation for your project, and you will design and build your user management system.</p>
			    	<%= link_to 'Problem Set 3', ps3_projectplan_path, class: 'btn btn-outline-info float-right' %>
			  	</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-12">
			<div class="card" style="border-radius: 20px;border-left: 6px solid #005253;">
			  	<div class="card-header">
			    	<h4 class="card-title">Problem Set 4(ps4)</h4>
			    	<span class="badge p-2" style="background-color: #43A143;">Submitted</span>
			  	</div>
			  	<div class="card-body">
				    <h5 class="card-title">Odds, Ends & User Management</h5>
				    <p class="card-text text-justify">In this problem set you will start generalizing the code base you’ve started building in preparation for your project, and you will design and build your user management system.</p>
			    	<%= link_to 'Problem Set 4', ps4_usermngmt_path, class: 'btn btn-outline-info float-right' %>
			  	</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-lg-6 col-md-6 col-12">
			<div class="card" style="border-radius: 20px;border-left: 6px solid #005253;">
			  	<div class="card-header">
			    	<h4 class="card-title">Problem Set 5(ps5)</h4>
			    	<span class="badge p-2" style="background-color: #43A143;">Submitted</span>
			  	</div>
			  	<div class="card-body">
				    <h5 class="card-title">Content Management, Part I</h5>
				    <p class="card-text text-justify">In this problem set you will design and do a skeletal implementation of the content management
						system for your Web community.</p>
			    	<%= link_to 'Problem Set 5', ps5_contentmngmt_path, class: 'btn btn-outline-info float-right' %>
			  	</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-12">
			<div class="card" style="border-radius: 20px;border-left: 6px solid #005253;">
			  	<div class="card-header">
			    	<h4 class="card-title">Problem Set 6(ps6)</h4>
			    	<span class="badge p-2" style="background-color: #43A143;">Submitted</span>
			  	</div>
			  	<div class="card-body">
				    <h5 class="card-title">User Evaluation</h5>
				    <p class="card-text text-justify">In this problem set you will perform a user evaluation for your Web application. You’ll evaluate each
					other and also get feedback from a member of your future user community.</p>
			    	<%= link_to 'Problem Set 6', ps6_feedback_path, class: 'btn btn-outline-info float-right' %>
			  	</div>
			</div>
		</div>
	</div>
</div>