<div class="jumbotron jumbotron-fluid" style="background-color: rgb(17, 128, 128);margin:50px auto;">
    <h1 class="font-weight-light text-white">Meet the Team</h1>
	<div class="row">
		<div class="col-lg-4">
			<div class="card text-center" style="width: 30rem;border-radius: 20px;border-left: 6px solid #005253;">
			  	<div class="card-body">
			    	<h4 class="card-title text-muted">st121075@ait.asia</h5>
			    	<h3 class="card-subtitle mb-2">Jakrapop Akaranee</h6>
			  	</div>
			</div>
        </div>
        <br><br>
		<div class="col-lg-4">
			<div class="card text-center" style="width: 30rem;border-radius: 20px;border-left: 6px solid #005253;">
			  	<div class="card-body">
			    	<h4 class="card-title text-muted">st121326@ait.asia</h5>
			    	<h3 class="card-subtitle mb-2">Harsha Somaraju</h6>
			  	</div>
			</div>
        </div>
        <br><br>
		<div class="col-lg-4">
			<div class="card text-center" style="width: 30rem;border-radius: 20px;border-left: 6px solid #005253;">
			  	<div class="card-body">
			    	<h4 class="card-title text-muted">st121363@ait.asia</h5>
			    	<h3 class="card-subtitle mb-2">Ruchi Singhal</h6>
			  	</div>
			</div>
		</div>
	</div>
</div>